
    .circle{
        position:absolute;
        bottom:75%;
        width:100%;
        height:100vw;
        max-height: 1480px;;
        background:$secondary-color-1;
        border-radius: 50%;
        z-index: -1;
        overflow: hidden;
        .carousel{
            display:none;
            position: absolute;
            border-radius: 50%;
            border:2px dashed $primary-color-1;
            img{
                @include img;
            }
        }
}


