.main-content{
    // position: absolute;
    position:relative;
    min-height: 85vh;
    &__wrap{
        height:260px;
        position: relative;
    }
    &__img{
        position:relative;
        top:0%;
        left:50%;
        transform: translateX(-50%);
        width: 185px;
        height:185px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        img{
            position: absolute;
            height:100%;
            object-fit:cover;
            opacity:0;
            transition: opacity .4s ease-out;
        }
        .show{
            opacity:1;
        }
    }
    .change-btn{
        @include btn-arrow;
        &--left{
            bottom:30%;
            left:15%;
        }
        &--right{
            bottom:30%;
            left:85%;
        }
        img{
            color: #fff;
            width: 1rem;
        }
    }
    &__description{
        padding:1rem;
        text-align: center;
        .order{
            padding:.8em 1.5em;
            color:#fff;
            border: none;
            border-radius: 20px;
            background: $primary-color-1;
            margin-top:1em;
            box-shadow: 1px 3px 20px -7px #000;
            transition: transform .2s ease-out;
            &:hover,
            &:focus{
                transform: scale(1.2);
                font-weight: bold;
            }
        }
    }
    &__title{
        padding:1em;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__food-descr{
        line-height: 1.5;
        padding:1em;
        padding-top:0;
    }
}
