@media(min-width:1000px){
    .header{
        flex-wrap: nowrap;
    }
    .nav{
        width:70%;
        align-self: flex-end;
        &__btn{
            display: none;
        }
        &__list{
            position: static;
            display: flex;
            &.show{
                display: flex;
            }
        }
        &__item{
            font-size:1.1rem;
            padding:0;
            padding-right: 3em;
        }
    }
}