html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel__item-1 {
  position: absolute;
  transform-origin: center;
  transform: rotate(60deg);
  width: 100%;
  height: 100%;
}

.carousel__item-2 {
  position: absolute;
  transform-origin: center;
  transform: rotate(120deg);
  width: 100%;
  height: 100%;
}

.carousel__item-3 {
  position: absolute;
  transform-origin: center;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

.carousel__item-4 {
  position: absolute;
  transform-origin: center;
  transform: rotate(240deg);
  width: 100%;
  height: 100%;
}

.carousel__item-5 {
  position: absolute;
  transform-origin: center;
  transform: rotate(300deg);
  width: 100%;
  height: 100%;
}

.carousel__item-6 {
  position: absolute;
  transform-origin: center;
  transform: rotate(360deg);
  width: 100%;
  height: 100%;
}

.container {
  min-height: 100vh;
  max-width: 1480px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}

.nav {
  width: 100%;
  padding: 0.5em;
}
.nav__btn {
  position: relative;
  padding: 0.6rem 0;
  cursor: pointer;
}
.nav__btn.open .nav__hamb {
  background: transparent;
}
.nav__btn.open .nav__hamb::before {
  transform: rotate(45deg);
}
.nav__btn.open .nav__hamb::after {
  transform: rotate(-45deg);
}
.nav__hamb {
  display: block;
  pointer-events: none;
  width: 25px;
  height: 3px;
  background: #000;
  transition: all 0.3s linear;
}
.nav__hamb::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(-7px);
  width: 25px;
  height: 3px;
  background: #000;
  transition: all 0.3s linear;
}
.nav__hamb::after {
  content: "";
  position: absolute;
  transform: translateY(7px);
  left: 0;
  transform: translateY(7px);
  width: 25px;
  height: 3px;
  background: #000;
  transition: all 0.3s linear;
}
.nav__list {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background: transparent;
  text-align: center;
}
.nav__list.show {
  display: block;
}
.nav__item {
  font-size: 1.3rem;
  padding: 1em;
  cursor: pointer;
}
.nav__item:hover .nav__link::after {
  transform: scale(1);
}
.nav__item:nth-child(1) a {
  animation-delay: 0.2s;
}
.nav__item:nth-child(2) a {
  animation-delay: 0.4s;
}
.nav__item:nth-child(3) a {
  animation-delay: 0.6s;
}
.nav__link {
  display: inline-block;
  margin: auto;
  height: 100%;
  text-decoration: none;
  color: #000;
  opacity: 0;
  transform: translateX(-500px);
  animation: show 0.4s linear forwards;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transform-origin: left;
  width: 100%;
  height: 3px;
  background: #FF922C;
  transition: all 0.2s linear;
}

@keyframes show {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.circle {
  position: absolute;
  bottom: 75%;
  width: 100%;
  height: 100vw;
  max-height: 1480px;
  background: #FFEEDE;
  border-radius: 50%;
  z-index: -1;
  overflow: hidden;
}
.circle .carousel {
  display: none;
  position: absolute;
  border-radius: 50%;
  border: 2px dashed #FF922C;
  transition: transform 0.4s ease-out;
}
.circle .carousel img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.circle .vege {
  border: 2px dashed #54BF29;
}

.vege {
  background-color: #EAFFE2;
}

.main-content {
  position: relative;
  min-height: 85vh;
}
.main-content__wrap {
  height: 260px;
  position: relative;
}
.main-content__img {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 185px;
  height: 185px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.main-content__img img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.main-content__img .show {
  opacity: 1;
}
.main-content .change-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  transform: translateX(-50%);
  border: none;
  border-radius: 50%;
  background: #FF922C;
  box-shadow: 1px 3px 20px -7px #000;
  transition: transform 0.2s ease-out;
}
.main-content .change-btn:hover, .main-content .change-btn:focus {
  transform: scale(1.2);
}
.main-content .change-btn--left {
  bottom: 30%;
  left: 15%;
}
.main-content .change-btn--right {
  bottom: 30%;
  left: 85%;
}
.main-content .change-btn img {
  color: #fff;
  width: 1rem;
}
.main-content .vege {
  background: #54BF29;
}
.main-content__description {
  padding: 1rem;
  text-align: center;
}
.main-content__description .order {
  padding: 0.8em 1.5em;
  color: #fff;
  border: none;
  border-radius: 20px;
  background: #FF922C;
  margin-top: 1em;
  box-shadow: 1px 3px 20px -7px #000;
  transition: transform 0.2s ease-out;
}
.main-content__description .order:hover, .main-content__description .order:focus {
  transform: scale(1.2);
  font-weight: bold;
}
.main-content__description .vege {
  background: #54BF29;
}
.main-content__title {
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.main-content__food-descr {
  line-height: 1.5;
  padding: 1em;
  padding-top: 0;
}

@media (min-width: 500px) and (orientation: landscape) {
  .circle {
    bottom: 70%;
  }

  .main-content__wrap {
    height: 300px;
  }
  .main-content__img {
    top: 0;
    width: 280px;
    height: 280px;
  }
  .main-content .change-btn--right {
    bottom: 10%;
  }
  .main-content .change-btn--left {
    bottom: 10%;
  }
}
@media (max-width: 500px) and (orientation: portrait) and (min-height: 80px) {
  .circle {
    bottom: 80%;
  }
}
@media (min-width: 700px) and (orientation: landscape) {
  .nav {
    width: 70%;
    align-self: flex-end;
  }
  .nav__btn {
    display: none;
  }
  .nav__list {
    position: static;
    display: flex;
  }
  .nav__list.show {
    display: flex;
  }
  .nav__item {
    font-size: 1.1rem;
    padding: 0;
    padding-right: 3em;
  }

  .circle {
    left: 20%;
    bottom: 50%;
  }
  .circle .carousel {
    display: block;
    width: 45%;
    height: 45%;
    bottom: -20%;
    left: 27%;
  }
  .circle .carousel img {
    width: 60px;
    height: 60px;
    border: 2px;
  }

  .main-content__wrap {
    height: 300px;
  }
  .main-content__img {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 30%;
    left: 70%;
    margin: 0;
  }
  .main-content__description {
    position: absolute;
    left: 0;
    top: 30%;
    width: 40%;
  }
  .main-content__title {
    text-align: start;
    margin-left: 1em;
  }
  .main-content .change-btn--right {
    bottom: 10%;
    left: 90%;
  }
  .main-content .change-btn--left {
    bottom: 10%;
    left: 50%;
  }
}
@media (min-width: 700px) and (max-height: 450px) and (orientation: landscape) {
  .circle .carousel {
    bottom: -26%;
  }

  .main-content__description {
    font-size: 0.9rem;
    top: 0;
  }
  .main-content__img {
    top: 23%;
  }
  .main-content .change-btn--right {
    bottom: 7%;
  }
  .main-content .change-btn--left {
    bottom: 7%;
  }
}
@media (min-width: 700px) and (max-height: 361px) and (orientation: landscape) {
  .circle .carousel {
    bottom: -30%;
  }
}
@media (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
  }
  .header img {
    width: 15%;
  }

  .nav {
    width: 70%;
    align-self: flex-end;
  }
  .nav__btn {
    display: none;
  }
  .nav__list {
    position: static;
    display: flex;
  }
  .nav__list.show {
    display: flex;
  }
  .nav__item {
    font-size: 1.1rem;
    padding: 0;
    padding-right: 3em;
  }

  .circle {
    left: 20%;
    bottom: 45%;
  }
  .circle .carousel {
    display: block;
    width: 45%;
    height: 45%;
    bottom: -20%;
    left: 27%;
  }
  .circle .carousel img {
    width: 65px;
    height: 65px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .circle .carousel {
    width: 40%;
    height: 40%;
    bottom: -20%;
    left: 30%;
  }
  .circle .carousel img {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .circle {
    bottom: 70%;
  }

  .main-content {
    min-height: 100vh;
  }
  .main-content__wrap {
    height: 500px;
  }
  .main-content__img {
    position: absolute;
    top: 30%;
    left: 69.5%;
    width: 30%;
    height: 30vw;
  }
  .main-content__description {
    position: absolute;
    top: 40%;
    width: 70%;
  }
  .main-content .change-btn--right {
    left: 89%;
    bottom: 25%;
  }
  .main-content .change-btn--left {
    left: 50%;
    bottom: 25%;
  }
}
@media (min-width: 768px) and (min-height: 1100px) and (orientation: portrait) {
  .main-content__img {
    top: 40%;
  }
  .main-content .change-btn--right {
    bottom: 6%;
  }
  .main-content .change-btn--left {
    bottom: 6%;
  }
}
@media (min-width: 768px) and (min-height: 1200px) and (orientation: portrait) {
  .main-content__img {
    top: 47%;
  }
  .main-content .change-btn--right {
    bottom: 7%;
  }
  .main-content .change-btn--left {
    bottom: 7%;
  }
}
@media (min-width: 949px) {
  .main-content__wrap {
    height: 550px;
  }
  .main-content__img {
    top: 40%;
  }
  .main-content .change-btn--right {
    bottom: 8%;
  }
  .main-content .change-btn--left {
    bottom: 8%;
  }
}
@media (min-width: 1000px) and (orientation: landscape) {
  .circle {
    bottom: 45%;
  }

  .main-content__wrap {
    height: 500px;
  }
  .main-content__img {
    width: 270px;
    height: 270px;
    top: 50%;
  }
  .main-content__description {
    top: 25%;
  }
  .main-content .change-btn--right {
    bottom: 0%;
  }
  .main-content .change-btn--left {
    bottom: 0%;
  }
}
@media (min-width: 1000px) and (orientation: portrait) {
  .nav__item {
    font-size: 1.3rem;
  }

  .circle .carousel img {
    width: 75px;
    height: 75px;
  }

  .main-content__wrap {
    height: 550px;
  }
  .main-content__description {
    top: 35%;
  }
  .main-content__img {
    top: 37%;
  }
  .main-content .change-btn--right {
    bottom: 8%;
  }
  .main-content .change-btn--left {
    bottom: 8%;
  }
}
@media (min-width: 1000px) and (max-height: 730px) {
  .main-content__img {
    top: 45%;
  }
}
@media (min-width: 1279px) {
  .circle {
    bottom: 35%;
    left: 20%;
  }
  .circle .carousel img {
    width: 90px;
    height: 90px;
  }

  .main-content__wrap {
    height: 700px;
  }
  .main-content__img {
    width: 300px;
    height: 300px;
    top: 55%;
  }
  .main-content__description {
    width: 35%;
  }
  .main-content .change-btn--right {
    bottom: 2%;
  }
  .main-content .change-btn--left {
    bottom: 2%;
  }
}
@media (min-width: 1279px) and (max-height: 801px) {
  .main-content__img {
    top: 45%;
  }
  .main-content .change-btn--right {
    bottom: 12%;
  }
  .main-content .change-btn--left {
    bottom: 12%;
  }
}
@media (min-width: 1360px) {
  .main-content__wrap {
    height: 800px;
  }
  .main-content__img {
    top: 55%;
  }
  .main-content__description {
    font-size: 1.2rem;
    top: 40%;
  }
  .main-content .change-btn--right {
    bottom: 8%;
  }
  .main-content .change-btn--left {
    bottom: 8%;
  }
}